.highlight {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
}

.highlight-cover {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	border: 8px solid #ffffff30;
	cursor: pointer;
}

.highlight-cover:hover {
	filter: brightness(0.6);
}

.story {
	position: relative;
	height: 80vh;
	width: 30vw;
	border-radius: 30%;
}

.story-header {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(30vw - 48px);
	z-index: 10;
	padding: 24px;
	font-weight: bold;
}

.story-navigation {
	display: flex;
	gap: 6px;
	width: calc(30vw - 48px);
	padding-bottom: 12px;
}

.story-navigation-item {
	height: 6px;
	flex: 1;
	background-color: #ffffff30;
}

.story-navigation-item.active {
	background-color: #fff;
}

.story-poster-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.story-poster {
	display: flex;
	gap: 6px;
	align-items: center;
}

.story-poster-profile-image {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.story-image {
	height: 80vh;
	width: 30vw;
	object-fit: cover;
	display: block;
}

.story-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(30vw - 48px);
	z-index: 10;
	padding: 24px;
	display: flex;
	align-items: center;
}

.story-footer>div {
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.story-footer>div>img {
	width: 16px;
}

@media (max-width: 600px) {
	.highlight-cover {
		width: 40px;
		height: 40px;
	}

	.story {
		height: 96vh;
		width: 96vw;
	}

	.story-image {
		height: 96vh;
		width: 96vw;
	}

	.story-header {
		width: calc(96vw - 48px);
	}

	.story-footer {
		width: calc(96vw - 48px);
	}

	.story-navigation {
		width: calc(96vw - 48px);
	}
}