.post-image {
	width: 100%;
	height: 60vh;
	object-fit: cover;
	padding: 3px;
	cursor: pointer;
}

.post-image:hover {
	filter: brightness(0.6);
}

.post-modal {
	display: flex;
}

.post-modal-image {
	width: 40vw;
	height: 90vh;
	object-fit: cover;
}

.post-modal-content {
	width: 40vw;
	display: flex;
	flex-direction: column;
	padding: 24px;
}

.post-modal-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #ffffff30;
}

.post-modal-poster {
	display: flex;
	gap: 12px;
	align-items: center;
}

.post-modal-poster-profile-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.post-footer {
	margin-top: auto;
	border-top: 1px solid #ffffff30;
}

.like-image {
	margin: 12px 0;
	width: 36px;
	height: 36px;
	cursor: pointer;
}